<mat-expansion-panel expanded>
  <mat-expansion-panel-header style="padding-left: 0px;">
    <mat-panel-title>
      <div mat-subheader fxLayout="row" fxLayoutAlign="space-between center">
        <p style="color: black;">{{ headerText }}</p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="headerText == 'Groups'; else friendsBlock">
    <app-group-item
      *ngFor="let group of listItems"
      [group]="group"
    ></app-group-item>
  </div>
  <ng-template #friendsBlock>
    <app-friend-item
      *ngFor="let friend of listItems"
      [friend]="friend"
    ></app-friend-item>
  </ng-template>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="accent">
      See All
    </button>
  </div>
</mat-expansion-panel>
