::ng-deep .mat-card {
  width: 350px !important;
}

::ng-deep .mat-card-header .mat-card-subtitle {
  font-size: 1.2rem !important;
}

::ng-deep .mat-card-header .mat-card-title {
  margin-bottom: 5px !important;
}
::ng-deep .mat-card-header .mat-card-title {
  font-size: 16px !important;
}

.group-list {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  width: 100%;
  padding: 24px;
}
.list-layout {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
