<div fxLayout="column" fxLayoutGap="10px" style="min-width: 250px;">
  <div fxLayoutAlign="center center">
    <ngx-avatar
      size="80"
      initialsSize="1"
      src="https://lh3.googleusercontent.com/ogw/ADGmqu8YzF6VrcT6Sn57cZv1ZnzLwg6KMrHynsZbA6Gt9es=s83-c-mo"
      s
    >
    </ngx-avatar>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <label style="font-weight: normal;">User Name</label>
    <label style="padding: 10px; font-weight: normal;"
      >user-email@mail.com</label
    >
  </div>
  <div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span>Edit Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Setting</span>
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div fxLayoutAlign="center center">
    <button
      mat-stroked-button
      class="button-style"
      style="margin-top: 10px; margin-bottom: 10px;"
    >
      Sign out
    </button>
  </div>
</div>
