<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  style="position: absolute; padding: 9px; color: black;"
  >search</mat-icon
>
<input
  type="text"
  placeholder="Search Friends & Groups"
  aria-label="Number"
  [formControl]="myControl"
  [matAutocomplete]="auto"
  style="
    background-color: white;
    color: black;
    padding: 0 16px;
    height: 32px;
    width: 100%;
    border: 0;
    text-indent: 30px;
  "
/>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>
