<mat-icon aria-hidden="false" aria-label="Example home icon"
  style="position: absolute; padding: 5px 5px; color: black;">search</mat-icon>
<input type="text" placeholder="Search Friends & Groups" aria-label="Number" [formControl]="myControl"
  [matAutocomplete]="auto" style="
    background-color: white;
    color: black;
    height: 32px;
    width: 100%;
    border: 0;
    text-indent: 30px;
    font-weight: normal;
    font-size: medium;
  " />
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>