<mat-list>
  <mat-list-item
    *ngFor="let monthSpend of monthSpends; last as last"
    style="margin-bottom: 25px;"
  >
    <div
      fxLayout="row wrap"
      fxLayoutGap="15px"
      fxLayoutAlign="space-between center"
      fxFlex="100"
      style="margin-bottom: 15px;"
    >
      <ngx-avatar
        name="Shopping"
        size="50"
        initialsSize="1"
        name="{{ monthSpend.category }}"
      ></ngx-avatar>

      <div fxFlex fxLayout="column" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutGap="10px">
          <p style="text-transform: capitalize;">{{ monthSpend.title }}</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip
              style="
                margin: 0px;
                padding: 10px;
                padding-top: 0px;
                padding-bottom: 0px;
                color: beige;
                font-size: 0.8em;
                background-color: #1d90f2;
                text-transform: capitalize;
              "
              >{{ monthSpend.category }}</mat-chip
            >
          </mat-chip-list>
        </div>
        <p style="font-size: small;">
          {{ monthSpend.date_time | date: "medium" }}
        </p>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="center center">
          <p
            style="font-size: x-small; margin: 0px; text-transform: capitalize;"
          >
            your Share
          </p>
          <button mat-stroked-button style="color: green;">
            {{ monthSpend.total_spend | currency: "INR" }}
          </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <p
            style="font-size: x-small; margin: 0px; text-transform: capitalize;"
          >
            Total Spend
          </p>
          <button mat-stroked-button style="color: red;">
            {{ monthSpend.your_share | currency: "INR" }}
          </button>
        </div>
      </div>
    </div>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
