.create-group-cotainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    justify-items: flex-start;
}

.inline-div-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* flex-flow: row; */
    flex-flow: column;
}

.inline-div-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
}
::ng-deep .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
    top: 0.8em !important;
}

::ng-deep .mat-form-field {
    width: 100%;
}
.add-group {
    border: 2px solid black;
    width: 50%;
    height: 70vh;
    padding: 32px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    justify-content: center;

    margin: 40px auto;
}
.group-list {
    /* border: 2px solid; */
    /* border: 1px outset; */
    display: grid;
    /* grid-template-columns: 10% 70% 5%; */
    grid-template-columns: 6% 80% 4%;
    width: 100%;
    grid-gap: 1em;
}

.friends {
    height: 400px;
    overflow: auto;
}

.body::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid red;
}

/* width */
.friends::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.friends::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.friends::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 5px;
}

/* Handle on hover */
.friends::-webkit-scrollbar-thumb:hover {
    background: #726e6e;
}
