.expense-cotainer {
  height: 100%;
  padding: 32px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  justify-content: center;
  width: 70%;
  margin: 40px auto;
}

.inline-div-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
}

.inline-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
}

.inline-radio {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 16% 60%;
  padding: 16px 0px 16px 20px;
}

::ng-deep .mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 0.8em !important;
}

.group-list {
  /* border: 2px solid; */
  /* border: 1px outset; */
  display: grid;
  /* grid-template-columns: 10% 70% 5%; */
  grid-template-columns: 6% 85% 4%;
  width: 100%;
  grid-gap: 1em;
}

.amount-group-list {
  display: grid;
  grid-template-columns: 5% 30% 40% 5%;
  width: 100%;
  grid-gap: 1.5em;
}

::ng-deep .mat-form-field-wrapper {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
::ng-deep .input {
  padding: 13px !important;
}

::ng-deep .mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-drawer-content {
  background-color: #ffffff !important;
}
