<mat-list>
  <div mat-subheader fxLayout="row" fxLayoutAlign="space-between center">
    Notifications
    <button mat-button color="accent">
      Clear All
    </button>
  </div>
  <mat-list-item
    *ngFor="let message of messages; let last = last"
    style="height: max-content;"
  >
    <mat-icon mat-list-icon>monetization_on</mat-icon>
    <p
      matLine
      style="white-space: normal; text-align: justify; margin-top: 10px;"
    >
      {{ message.message }}
    </p>
    <div mat-line style="text-align: end; margin-bottom: 10px;">
      {{ message.dateTime | relativeTime }}
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
